*.qmd linguist-language=RMarkdown

*.[Rr]md  linguist-detectable
*.qmd linguist-detectable

*.html linguist-documentation

.Rprofile linguist-generated
renv/activate.R linguist-generated
_freeze/** linguist-generated
_site/** linguist-generated

site_libs/** linguist-vendored
_extensions/** linguist-vendored
tachyons.css linguist-vendored
